

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Header {
  color: white;
  text-shadow: 1px 1px 5px #fff;
  font-size: 3rem;
  margin-top:4rem;
}
/* write your parent styles in here for your App.js */
